---
import { links } from '../../data/links.ts';
---

<div class="flex gap-2 flex-wrap">
  {links.map(link => (
    <a
      href={link.href}
      class="flex items-center gap-2 text-pink-300 transition-all"
      target="_blank"
    >
        <div class="border-2 border-secondary p-2 rounded-2 flex items-center justify-center w-16 h-8 hover:hov-fx">
            <div class={`${link.icon} text-xl text-white-text`}></div>
        </div>
    </a>
  ))}
</div>
