.crt-bg {
  background: radial-gradient(circle at center, #4b004b 0%, #0d0010 70%);
}

.crt-bg-flat {
  background: #0d0010;
}

html {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll-container::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ff00778d;
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-track,
.custom-scroll-container::-webkit-scrollbar-track {
  background-color: #2b090e;
}

bug{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

bug:before,
bug:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

bug:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

bug:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}