---
import Layout from '../layouts/BaseLayout.astro'
import Profile from '@components/Profile/ProfileWrapper.astro'
import Artworks from '@components/Artwork/ArtworkWrapper.svelte'
import Projects from '@components/Projects/ProjectWrapper.svelte'
import { projects as projectsData} from '@data/projects.ts';
import Blogs from '@components/Blog/BlogWrapper.astro';
import { blogs } from '@data/blogs.ts';
import { artworks } from '@data/artworks.ts';
import { getCollection } from 'astro:content';
import Container from '@components/Container.astro';

const projectEntries = await getCollection('projects');
// First merge the data
let projects = projectEntries.map(entry => ({
  ...projectsData[entry.slug],
  ...entry.data,
  slug: entry.slug,
  content: entry
}));

// sort by year
projects = projects.sort((a, b) => {
  const yearA = a.date ? new Date(a.date).getFullYear() : a.year || 0;
  const yearB = b.date ? new Date(b.date).getFullYear() : b.year || 0;
  return yearB - yearA;
});
---
<Layout>
  <section id="profile" class="h-auto pb-10 pt-3 flex flex-col" aria-labelledby="profile-heading">
    <Container title="Profile" headingId="profile-heading">
      <Profile/>
    </Container>
  </section>

  <section id="artworks" class="min-h-screen pt-3 flex flex-col md:justify-center" aria-labelledby="artworks-heading">
    <Container title="Artworks" headingId="artworks-heading">
      <Artworks artworks={artworks} client:visible />
    </Container>
  </section>

  <section id="projects" class="min-h-screen pt-3 flex flex-col md:justify-center" aria-labelledby="projects-heading">
    <Container title="Projects" headingId="projects-heading">
      <Projects projects={projects} client:visible />
    </Container>
  </section>

  <section id="blog" class="min-h-[60vh] pt-3 flex flex-col md:justify-center" aria-labelledby="blog-heading">
    <Container title="Blog" headingId="blog-heading">
      <Blogs blogs={blogs} />
    </Container>
  </section>
</Layout>
