---
import Layout from '../layouts/BaseLayout.astro'
import Profile from '@components/Profile/ProfileWrapper.astro'
import Artworks from '@components/Artwork/ArtworkWrapper.svelte'
import Projects from '@components/Projects/ProjectWrapper.svelte'
import { artworks } from '@data/artworks.ts';
import { getCollection } from 'astro:content';
import Container from '@components/Container.astro';

const projectEntries = await getCollection('projects');
const projects = projectEntries.map(entry => ({
  ...entry.data,
  slug: entry.slug,
}));
---

<Layout>
  <section id="profile" class="h-auto bg-blue pb-10 flex flex-col">
    <Container title="Profile">
      <Profile />
    </Container>
  </section>

  <section id="artworks" class="min-h-screen flex flex-col justify-center">
    <Container title="Artworks">
      <Artworks artworks={artworks} client:only="svelte" />
    </Container>
  </section>

  <section id="projects" class="min-h-screen flex flex-col justify-center">
    <Container title="Projects">
      <Projects projects={projects} client:only="svelte" />
    </Container>
  </section>
</Layout>
