---
// src/pages/profile.astro
import Navbar from '../components/Navbar.astro';
import Container from '../components/Container.astro';
---

<html lang="en">
  <head>
    <title>Profile | Onii-chan</title>
  </head>
  <body class="bg-black text-white font-mono px-48 py-16">
    <Navbar />

    <main class="p-8">
      <Container title="PROFILE">
        <p>
          I am an undergraduate Computer Science student at State Polytechnic of Malang...
        </p>
      </Container>
    </main>
  </body>
</html>