---
import Layout from '../layouts/BaseLayout.astro'
import Profile from '@components/Profile/ProfileWrapper.astro'
import Artworks from '@components/Artwork/ArtworkWrapper.svelte'
import Projects from '@components/Projects/ProjectWrapper.svelte'
import { projects as projectsData} from '@data/projects.ts';
import { artworks } from '@data/artworks.ts';
import { getCollection } from 'astro:content';
import Container from '@components/Container.astro';
import HeroSection from '@components/HeroSection.astro';

const projectEntries = await getCollection('projects');
// First merge the data
let projects = projectEntries.map(entry => ({
  ...projectsData[entry.slug],
  ...entry.data,
  slug: entry.slug,
  content: entry
}));

// Then sort by year (newest first)
projects = projects.sort((a, b) => {
  const yearA = a.publishDate ? new Date(a.publishDate).getFullYear() : a.year || 0;
  const yearB = b.publishDate ? new Date(b.publishDate).getFullYear() : b.year || 0;
  return yearB - yearA;
});
---

<HeroSection />

<Layout>
  <section id="profile" class="h-auto pb-10 pt-3 flex flex-col">
    <Container title="Profile">
      <Profile/>
    </Container>
  </section>

  <section id="artworks" class="min-h-screen pt-3 flex flex-col md:justify-center">
    <Container title="Artworks">
      <Artworks artworks={artworks} client:visible />
    </Container>
  </section>

  <section id="projects" class="min-h-screen pt-3 flex flex-col md:justify-center">
    <Container title="Projects">
      <Projects projects={projects} client:visible />
    </Container>
  </section>
</Layout>
