---
import Layout from '../layouts/BaseLayout.astro'
import ProfileSection from '../components/ProfileSection.astro'
// import ProjectsSection from '../components/ProjectsSection.astro'
// import BlogSection from '../components/BlogSection.astro'
---

<Layout>
  <section id="profile" class="min-h-screen">
    <ProfileSection />
  </section>

  <section id="projects" class="min-h-screen">
    <!-- <ProjectsSection /> -->
  </section>

  <section id="blog" class="min-h-screen">
    <!-- <BlogSection /> -->
  </section>
</Layout>
