---
import Layout from '../layouts/BaseLayout.astro'
import Profile from '../components/ProfileSection.astro'
import Artworks from '../components/ArtworksSection.svelte'
import Projects from '../components/ProjectsContainer.svelte'
import { projects } from '../data/projects';
---

<Layout>
  <section id="profile" class="min-h-screen">
    <Profile />
  </section>

  <section id="projects" class="min-h-screen">
    <Artworks client:only="svelte"/>
  </section>

  <section id="blog" class="min-h-screen">
    <Projects projects={projects} client:only="svelte" />
  </section>
</Layout>
