---
import Layout from '../layouts/Layout.astro';
import supabase from '../lib/supabaseClient';
import '../styles/base.css';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

const { data: posts, error } = await supabase
  .from('blog')
  .select('*');

if (error) {
  console.error(error);
}
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-gradient">Blog Posts</h1>
		<ul>
			{posts.map(blog => (
				<li key={blog.id}>{blog.content}</li>
			))}
		</ul>
		<ul class="flex flex-col">
			{allPosts.map((post) => <a href={'/blog/' +post.slug}>{post.data.title}</a>)}
		</ul>
	</main>
</Layout>

<style>

</style>
