---
const currentPath = Astro.url.pathname;
const navLinks = [
  { name: 'HOME', href: '/' },
  { name: 'PROFILE', href: '/#profile' },
  { name: 'PROJECTS', href: '/#projects' },
  { name: 'BLOG', href: '/#blog' },
];
import NavIsland from './NavIsland.svelte';
---

<nav class="md:sticky md:top-0 flex justify-between items-center mb-0 md:mb-8">
  <div class="absolute bottom-0 h-px w-full bg-secondary-second"></div>
  
  <!-- Mobile view navigation - bottom floating -->
  <div class="fixed md:hidden inset-x-0 bottom-0 z-50">
    <div class="flex justify-evenly py-3 bg-black/90 border-t border-secondary shadow-[0_0_10px_2px_rgba(255,0,102,0.3)]">
      {navLinks.map(link => (
        <a
          href={link.href}
          class={`px-3 py-1 text-sm transition-all duration-200 ${
            currentPath === link.href
              ? 'text-secondary-second'
              : 'text-main hover:text-main'
          }`}
        >
          {link.name}
        </a>
      ))}
    </div>
  </div>

  <!-- Desktop view navigation - top bar -->
  <div class="hidden md:flex text-md text-main w-full">
    {navLinks.map(link => (
      <a
        href={link.href}
        class={`px-8 py-2 transition-all duration-200 ${
          currentPath === link.href
            ? 'bg-pink-900/30 text-white border-b-3 border-main font-bold'
            : 'hover:bg-pink-800/10 text-secondary'
        }`}
      >
        {link.name}
      </a>
    ))}
  </div>
  <div class="hidden md:block">
    <NavIsland client:load />
  </div>
</nav>