---
interface Props {
  title: string;
  maxHeight?: boolean;
}

const { title, maxHeight = false } = Astro.props;
---

<div class={`border-2 border-secondary bg-black/40 p-3 md:p-4 shadow-[0_0_8px_rgba(255,77,109,0.5)] rounded-xl ${maxHeight ? 'md:max-h-xl md:overflow-auto' : ''}`}>
  <div class="bg-main text-black-text font-sans font-bold md:font-extrabold text-lg md:text-lg px-3 md:px-4 py-1 rounded-lg">
    {title}
  </div>

  <div class="mt-3 md:mt-4">
    <slot />
  </div>
</div>

<style>
  /* Add custom scrollbar for containers with maxHeight */
  div::-webkit-scrollbar {
    width: 4px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  div::-webkit-scrollbar-thumb {
    background-color: var(--color-main, rgb(255, 0, 119, 0.6));
    border-radius: 4px;
  }
</style>
