---
const { title } = Astro.props;
---

<div class="border border-secondary bg-black/40 p-4 shadow-[0_0_16px_2px_rgba(255,0,102,0.3)]">
  <div class="bg-main text-black-text font-bold text-sm px-4 py-1">
    {title}
  </div>

  <div class="mt-4">
    <slot />
  </div>
</div>
