---
const { title } = Astro.props;
---

<div class="border border-secondary bg-black/40 p-4 shadow-[0_0_16px_rgba(255,77,109,0.5)] rounded-xl">
  <div class="bg-main text-black-text font-bold text-lg px-4 py-1 rounded-lg">
    {title}
  </div>

  <div class="mt-4">
    <slot />
  </div>
</div>
