---
const links = [
    {
    name: 'Email',
    href: 'mailto:daffamaulanasatria@gmail.com',
    icon: 'i-grommet-icons-mail',
  },
  {
    name: 'LinkedIn',
    href: 'https://linkedin.com/in/daffa-ms',
    icon: 'i-ri:linkedin-box-fill',
  },
  {
    name: 'GitHub',
    href: 'https://github.com/Arucaden',
    icon: 'i-grommet-icons-github',
  },
  {
    name: 'itch.io',
    href: 'https://itch.io/profile/arucaden',
    icon: 'i-grommet-icons:gamepad',
  },
  {
    name: 'cv',
    href: 'https://twitter.com/daffa',
    icon: 'i-grommet-icons:document-user',
  },
];
---

<div class="flex gap-2 flex-wrap">
  {links.map(link => (
    <a
      href={link.href}
      class="flex items-center gap-2 text-pink-300 hover:text-pink-100 transition-all duration-200"
      target="_blank"
    >
        <div class="border-2 border-secondary p-2 rounded-2 flex items-center justify-center w-16 h-8">
            <div class={`${link.icon} text-xl text-white-text group-hover:text-main`}></div>
        </div>
    </a>
  ))}
</div>
