---
const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col bg-black text-white px-4 md:px-48 py-8 md:py-12 md:w-full h-screen">
    <Navbar />
    <main>
		  <slot />
	  </main>
  </body>
</html>