---
export const prerender = true;
const { title, author, pubDate } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <article>
      <h1>{title}</h1>
      <p><em>By {author} on {new Date(pubDate).toLocaleDateString()}</em></p>
      <slot />
    </article>
  </body>
</html>
